@charset "utf-8";

body,
h1,
h2,
h3,
h4,
p,
a {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: white;
    /*font-family: 'Montserrat', sans-serif;*/
}

input {
    outline: none;
}

textarea {
    outline: none;
}

/* Якоря */
.yakor {
	display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
